In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('game_results_anticlockwise.csv')

In [3]:
df

,Player Name,Score,Correct Presses,Incorrect Presses
0,Devansh,55,"[(1085.0, 816.5063509461097), (835.0, 816.5063...","[(799.3030975783652, 408.4888892202555), (1085..."
1,bablu,77,"[(799.3030975783652, 791.5111107797445), (713....","[(1194.923155196477, 514.4949641685827), (768...."
2,samaksh,75,"[(916.5879555832674, 846.201938253052), (799.3...","[(1120.6969024216348, 408.4888892202555), (119..."

In [4]:
df['Correct Presses']

0    [(1085.0, 816.5063509461097), (835.0, 816.5063...
1    [(799.3030975783652, 791.5111107797445), (713....
2    [(916.5879555832674, 846.201938253052), (799.3...
Name: Correct Presses, dtype: object

In [11]:
lst = df['Correct Presses'].iloc[0]

In [19]:
def countList(lst):
    count = 0
    for el in lst:
        if type(el) == type([]):
            count += 1
            
    return count

In [20]:
obj = countList(lst)

In [21]:
print(obj)

0

In [22]:
def countList(lst):
	return sum(type(el)== type([]) for el in lst)

In [24]:
obj = countList(lst)
print(obj)

0

In [30]:
lst = df['Correct Presses'].iloc[0]
x=[i for i in lst]
print(len(x))

2009

In [34]:
df_2 = pd.read_csv('game_results_clockwise.csv')

In [35]:
df_2

,Player_Name,Score,Correct_Presses,Incorrect_Presses,Correct_Score,incorrect_Score
0,deva,12,"[(1176.5063509461097, 725.0), (1045.5050358314...","[(1176.5063509461097, 725.0), (1120.6969024216...",17,5

In [38]:
df_2['Correct_Score']

0    17
Name: Correct_Score, dtype: int64

In [40]:
yplot

ModuleNotFoundError: No module named 'matplotlib'